.middle {
   display:flex;
   flex-direction: row;
    width: 100%;
    padding: 2%;
    margin-top: 10%;
    font-family: Bona Nova;
    background-color: black;
    color:white;
}

.middle img {
    width: 250px;
    height: 150px;
}
.categories {

    width: 30%;
    padding: 2%;
}

.button {
    background-color: white;
    color:black;
}