header {
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding:  1% 2%;
    margin-bottom: 2%;
    background-color: yellow;
    box-shadow: 10px 10px 15px black;
    font-family: Bona Nova;
    font-size: 24px;
    text-shadow: 3px 2px 5px slategrey;
}

img {
    height: 100px;
    padding-right: 2%;
}

.headerOne, .headerTwo {
    display:flex;
    flex-direction: row;
}

.headerOne {
    width: 37%;
}

.coffee {
    margin-top:-3%;
    margin-left: -100%;
    opacity: 0.2;
}

.coffee:hover {
    opacity: 1.0;
}
.headerTwo {
     width:50%;
     display:flex;
     justify-content: space-between;
}

.headerBee {
    margin-top: -1%;
    margin-left: -27%;
}

input {
    width: 60%;
    padding: 2%;
}

button {
    padding: 2%;
    width: 32%;
    background-color: #1087A8;
    color:white;
}