.info{
    width: 100%;
    background-color: black;
    border: 1px solid black;
    padding: 2%;

    .cont {
        width: 55%;
        color:whitesmoke;
        padding: 2%;
        text-align: left;
    }

    span {
        color:yellow;
    }
}

ul li {
    list-style:circle;
}

span{
           font-weight: bold;
    text-decoration: underline;
}
span.create {
    color:teal;
}

span.code {
    color:pink;
}

span.collab{
    color:lightgreen;
}

