.info{
    width: 100%;
    background-color: black;
    border: 1px solid black;
    padding: 2%;

    .cont {
        width: 55%;
        color:whitesmoke;
        padding: 2%;
        text-align: center;
    }

    span {
        color:yellow;
    }
}
