.bottom {
    border: 3px solid yellow;
    width: 80%;
    margin:auto;
    margin: -13% 0 4% 0;
        font-family: Bona Nova;
    font-size: 18px;
    padding: 2%;
    text-align: center;
}

.bottom p {
    font-size: 18px;
    font-weight: 300;
}

.bot{

    width: 35%;
}