@import '../../assets/styling/mixins';
@import '../../assets/styling/variables';

header {
    width: 100%;
    padding:  1% 2%;
    margin-bottom: 2%;
    font-size: 24px;
    background-color: $background;
    @include fontFamilyBona();
    @include displayRow();
    @include boxShadowOne();
    @include textShadow();
}

img {
    height: 100px;
    padding-right: 2%;
}

.headerOne, .headerTwo {
    @include simpleDisplayRow();

}

.headerOne {
    width: 37%;
}

.titleSub {
    height: 20vh;
    text-align: center;

    h5 {
        margin-top: -5%;
    }
}
.coffee {
    margin-top:-3%;
    margin-left: -100%;
    opacity: 0.2;
}

.coffee:hover {
    opacity: 1.0;
}
.headerTwo {
     width:50%;
   @include simpleDisplayRow();
     justify-content: space-between;

    }

.headerBee {
    margin: 4% 0 0 -27%;
}

input {
    width: 60%;
    @include padding2Per();
}

button {
    width: 32%;
    background-color: $cta;
    color:$text;
    @include padding2Per();
    @include fontFamilyBona();
}