@import '../../assets/styling/mixins';
@import '../../assets/styling/variables';


footer {
    width: 100%;
    text-align:left;
    background-color:$primary;
    color:$text;
    // position: fixed;
    bottom:0;
    
}
.mainFoot {
    @include simpleDisplayRow();
    width: 40%;
    margin:auto;


}

.leftFoot{
    width: 35%;
    align-items: left;
    margin-top: 5%;

}

.leftFoot img{
    width: 50px;
    height: 30px;
    padding-right: 15%;
}
