.nav {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: lightgrey;
    margin: 1% 0;
    padding:1%;
    width: 80%;
    a {
        text-decoration: none;
        color:black;
        size: 16px;

        
    }
    a:hover {
    size: 22px;
    background-color: black;
    border-radius:10%;
    color:white;
    font-weight: bold;
    padding: 1%;
    }
}