@import '../../assets/styling/mixins';
@import '../../assets/styling/variables';

.nav {

    @include displayRow();
    justify-content: space-around;
    @include boxShadowTwo();
    background-color: $cta;
    margin: 1% 0;
    padding:1%;
    width: 80%;
    a {
        @include a()
    }
    a:hover {
        @include aHover();
    }
}